@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "_AdminLayout";
}

<div class="text-danger" asp-validation-summary="All"></div>

<form asp-controller="Account" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PassWord"></label>
        <div><span asp-validation-for="PassWord" class="text-danger"></span></div>
        <input asp-for="PassWord" class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
</form>